body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: azure;
    max-width: 1280px;
    padding: 48px;
}


.contenido_centrado{
    text-align: center;
    margin: 0;
}

.contenido_centrado h1{
    font-size: 54px;
    font-weight: bold;
    color:goldenrod;
    margin: 0;
    padding: 20px;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}
.contenido_centrado p{
    font-size: 15px;
    font-weight: lighter;
    margin:0;
    padding-bottom: 20px;
}

.contenido_izquierda{
    margin: 0;
    padding: 20px;
}

.contenido_izquierda table{
    font-size: 15px;
    color:black;
    margin: 0;
    display: flex;
    justify-content:left;
    align-items: start;
}

.contenido_izquierda h2{
    font-size: 20px;
    font-weight: bold;
    color:darkcyan;
    margin:0;
    padding-bottom: 20px;
    display: flex;
    justify-content:left;
    align-items: start;
}

.contenido_derecha{
    margin: 0;
    padding: 20px;
}
.contenido_derecha h2{
    font-size: 20px;
    font-weight: bold;
    color:darkcyan;
    margin:0;
    padding: 20px;
}

.contenido_derecha p{
    font-size: 15px;
    font-weight: lighter;
    margin:0;
    padding: 20px;
}

.contenido_derecha label{
    font-size: 15px;
    font-weight: bold;
    color:black;
    margin:0;
}

